@font-face {
    font-family: 'daxbold';
    src: url('daxbold/dax_bold-webfont.eot');
    src: url('daxbold/dax_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('daxbold/dax_bold-webfont.woff') format('woff'),
         url('daxbold/dax_bold-webfont.ttf') format('truetype'),
         url('daxbold/dax_bold-webfont.svg#daxbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandlight';
    src: url('quick/quicksand_light-webfont.eot');
    src: url('quick/quicksand_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('quick/quicksand_light-webfont.woff') format('woff'),
         url('quick/quicksand_light-webfont.ttf') format('truetype'),
         url('quick/quicksand_light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:0.85em;
	margin:0;
	padding:0;
}


.header{
	height:106px;
	width:100%;
	background-color:#396;
	background:url(../img/barre_fond.gif) repeat-x;
	position:relative;
}

.logo{
	position: absolute;
	width: 116px;
	height: 96px;
	left: 36px;
	top: 10px;
}

.content_form{
	margin-top:40px;
}

.container_moov{
	width:920px;
	margin:5px auto;
	text-align:left;

	overflow:hidden;
	
}

.menu_operation{
	float:left;
	width:250px;
	margin-right:10px;
}

.menu_infos{
	float:left;
	width:630px;
	/*background-color:#366;*/
}
.container_moov2{
	width:900px;
	margin:5px auto;
	text-align:left;
	/*margin-top:0px;*/

	overflow:hidden;
	/*background-color:#0C9;*/
}


.actions{
	list-style-type:none;
	margin:0;
	padding:0;
}

.actions li{
	margin:5px 0px;
	height:30px;
}

.actions li a{
	text-decoration:none;
	font-family:'daxbold',Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	display:block;
	background-color:#b5dc10;
	padding-left:5px;
	color:#000;
	height:30px;
	line-height:30px;
	border-radius: 0px 10px 0px 5px;
}

.actions li a.underline{
	background:url(../img/arrow_03.png) no-repeat left center;
	padding-left:15px;
	background-color:#b5dc10;
	text-decoration:underline;
}

.actions li a:hover{
	background-color:#666;
}
/*****************************************************/
.titleresumeCompte ,.titleresumeCompte3{
	font-family:'daxbold',Verdana,sans-serif;
	font-size:18px ; 
	padding-left:35px;
	background:url(../img/picto_contactez_moov.png) no-repeat left center;
	height:35px;
	margin-bottom:3px;
	line-height:35px;
	border-radius:5px 0 5px 0;
	background-color:#000;
	color:#FFF;
	text-align:left;
	-webkit-border-radius:5px 0 5px 0;
    -moz-border-radius:5px 0 5px 0;
   
	
	
}

/****************************************************/
.tooltipeffect{
	background:url(../img/corpo2.png) 5% top no-repeat;
	height:10px;
	position:relative;
	top:3px;
	
}

.tooltipeffect2{
	background:url(../img/corpo2.png) 5% top no-repeat;
	height:10px;
	position:relative;
	top:1px;
	
}
/**************************************/
.infos_cons{
	background-color:#fff;
	padding:10px;
	margin:0 0 3px 0px;
	border:1px solid #b5dc10;
	border-radius:5px 0 5px 0;
	overflow:hidden;
}

.low_padding{
	padding-bottom:2px;
}
.contentbloc3{
	float:left;
	width:310px;
}
.infos_cons2,.infos_cons_no_forfaits{
	background-color:#fff;
	padding:15px 5px 2px 5px;
	margin:0 0 3px 0px;
	border:1px solid #b5dc10;
	border-radius:5px 0 5px 0;
	overflow:hidden;
	height:180px;
	/*background:url(../img/moov_flotte_decoration_16.png) bottom right no-repeat;*/
	
	
}

.infos_cons_no_forfaits{
	padding-bottom:2px;
	height:150px;
}

.block{
	display:block;
}
.no_forfaits{
	height:60px;
	text-align:center;
}
.right{
/*	margin-right:10px;*/
}
.retract{
	padding:3px;
}
.contentBloc{
	
	
	background-color:#FFF;
	padding:2px;
}

.contentBloc2{
	

	padding:2px;
	margin:15px;
}


/********************************************************/
.gallery{
	float:left;
	width:550px;
}

.bold{
	font-weight:bold;
}
.formtitle{
	height:25px;
	line-height:25px;
	font-family:'daxbold',Verdana,sans-serif;
	font-size:15px;
	margin:5px;
	padding:5px;
	background-color:#2b2b2b;
	border-radius: 0px 25px 0px 10px;
	color:#FFF;
}
.connexion_fields{
	position:absolute;
	z-index:9999;
}
.form_connexion{
	float:left;
	width:355px;
	margin:0 5px;
	height:405px;
	background-color:#b5dc10;
	/*border:1px solid #b5dc10;*/
	border-radius:0px 30px 0px 0px;
	position:relative;
	
	
}
.conn_3g{
	/*position:absolute;
	z-index:99;*/
/*	background-color:#39C;*/
	width:345px;
}


.inputcontent{

	margin:10px 0px;
	/*height:20px;*/
	overflow:hidden;

}

.inscription .inputcontent{
	margin:2px 0px;
	
}

.connexion_interface .inputcontent{
	margin:3px 0px;
	
}

.inscription .inputtext{
/*	height:15px;*/
	
}

.inscription .label{
	width:130px;
	
}
.content_ins{
	position:absolute;
	bottom:5px;
	left:5px;
	
}
.inputcontent2{

	margin:5px 0px;
	/*height:20px;*/
	overflow:hidden;

}

.roundedSansImages{
	border-radius: 10px 20px 0 15px;
	-moz-border-radius: 10px 20px 0 15px;
    -webkit-border-radius: 10px  20px 0 15px;
  
    behavior: url(/PIE.htc);
}

.daxbold12{
	font-family:'daxbold',Verdana,sans-serif;
	font-size:12px;
}

.daxbold10{
	font-family:'daxbold',Verdana,sans-serif;
	font-size:10px;
}

.daxbold13{
	font-family:'daxbold',Verdana,sans-serif;
	font-size:13px;
}

.linkconn{
	text-decoration:none;
	margin-left:10px;
	color:#000;
	display:block;
	margin-top:10px;
	margin-bottom:10px;
}
.linkconn:hover{
	text-decoration:underline;
}
.label{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	/*font-weight:bold;*/
	
	width:130px;
	/*background-color:#0C0;*/
	/*text-transform:capitalize;*/
	display:block;
	line-height:25px;
	text-align:right;
	margin-right:5px;

}

.labeltrans{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	/*font-weight:bold;*/
	
	width:180px;
	/*background-color:#0C0;*/
	/*text-transform:capitalize;*/
	display:block;
	line-height:25px;
	text-align:right;
	margin-right:5px;

}

.labelfiltre{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	/*font-weight:bold;*/
	
	
	/*background-color:#0C0;*/
	/*text-transform:capitalize;*/
	display:block;
	line-height:25px;
	text-align:right;
	margin-right:5px;

}

/*************************************/
.labelBlock{
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	/*font-weight:bold;*/
	
	/*background-color:#0C0;*/
	/*text-transform:capitalize;*/
	display:block;
	margin-bottom:5px;
	text-align:left;
	margin-left:10px;
	
	

}
/*********************************/
.labelChange{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:#000000;
	/*background-color:#0C0;*/
	/*text-transform:capitalize;*/
	display: block;
	margin-bottom: 5px;
	text-align: left;
	margin-left: 15px;
	/*text-shadow: 0px 0px 2px #000;	*/

}

/***************************************/
.mid{
	width:90px;

}

.zipmid{
	width:100px;

}
.large{
	width:180px;
}

.smallinput{
	width:30px;
}
.inputtext{
	width:170px;
	border:1px solid #999;
	height:20px;
	text-align:left;
	
}


.inputtextins{
	width:170px;
	border:1px solid #999;
	height:15px;
	text-align:left;
	
}
.inputtextlarge{
	width:190px;
	border:1px solid #999;
	height:20px;
	text-align:left;
	
}


.inputtext_echange{
	width:250px;
	border:1px solid #CCC;
	height:25px;
}
.inputtext_conn{
	width:220px;
	border:1px solid #b5dc10;
	height:25px;
}

.inputtext_newpass{
	width:360px;
	border:1px solid #CCC;
	height:25px;
	margin-left:10px;
}
.inputselect{
	width:170px;
	border:1px solid #CCC;
	height:25px;
}

.inputselectsmall{
	width:100px;
	border:1px solid #CCC;
	height:25px;
}

.inputselectmid{
	width:120px;
	border:1px solid #CCC;
	height:25px;
}


.verdana13{
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
}

.verdana11{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
}

.arial11{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

.arial13{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

.motif_connexion{
	position:absolute;
	bottom:0;
	right:0;
	
}

.submit_spons:hover,.button_control:hover,.menusub:hover,.menusub2:hover,.btn_no_forfait:hover,.stop_forfait:hover{
	color:#b5dc10;
}


.submit_spons,.button_control,.menusub,.menusub2,.btn_no_forfait,.stop_forfait{
		background:url(../img/motif.png) no-repeat left center;
	background-color:#2b2b2b;
	/*padding:5px;*/
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	line-height:30px;
	height:30px;
	font-weight:bold;
	color:#FFF;
	border:none;
	border-radius:15px 15px 15px 0px;
	width:150px;
	
	display:block;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	
	
}

.btn_no_forfait,.stop_forfait{
	width:180px;
	float:right;
	margin-bottom:2px;
}


.form_connexion .success,.form_connexion .error{
	margin-left:5px;
	margin-right:5px;
}
.motif_inscription .error{
	margin:3px 5px;
	padding:15px 10px 15px 50px;

}
.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;

font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
}

.info{
color:#00529B;
background-color:#BDE5F8;
background-image:url(../img/info.png);
}

.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url(../img/sucess.png);
}

.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image:url(../img/warning.png);
}
.error {
color: #D8000C;
background-color: #FFBABA;
background-image:url(../img/error.png);
}

.bloc_login{
	height:25px;
	/*background-color:#093;*/
}

.deconnexion_link{
	float:right;
	display:block;
	text-decoration:none;
	margin-right:10px;

	color:#F00;
}

.deconnexion_link:hover{
	text-decoration:underline;
}
.log_infos{
	float:left;
	margin:0px 2px;
	
	
}

.center_login{
}

a img{
	border:0;
}
.no_forfaits{
	text-align:center;
	font-weight:bold;
}

.hide{
	display:none;
}

#conso_bar{
	margin:15px 0px 2px 0px;
	position:relative;
}
.labelbar .min{
	float:left;
}

.labelbar .max{
	float:right;
}
.labelbar{
	overflow:hidden;
}

 .progress-label {
	 position:absolute;
margin-left: 50%;
margin-top: 2px;
font-weight: bold;
text-shadow: 1px 1px 0 #fff;
}
/*****************************************/
#liste_forfaits{
	margin-top:10px;
}

#liste_forfaits .forfaits{
	float:left;
	margin:10px;
}
.forfaits{
	background-color:#b5dc10;
	border-radius:0 10px 0 10px;
	width:190px;
	height:135px;
	position:relative;
	padding-top:20px;
	
}

.forfait_decor{
	position:absolute;
	bottom:0;
	right:0;
}

.forfait_nom{
	background-color:#2b2b2b;
	position:absolute;
	top:-5px;
	right:10px;
	font-size:11px;
	padding:10px ;
	font-family:'daxbold',Verdana,sans-serif;
	color:#ffffff;
	text-align:center;
}
.forfait_buy:hover,.offer_forfaits_buy:hover{
	color:#b5dc10;
}
.forfait_buy,.offer_forfaits_buy{
	text-decoration:none;
	display:block;
	background:url(../img/forfaits/achat_decoration.png) left center no-repeat;
	background-color:#2b2b2b;
	font-family:'daxbold',Verdana,sans-serif;
	width:85px;
	position:absolute;
	left:10px;
	bottom:-5px;
	font-size:11px;
	/*padding:10px 0px 10px 25px;*/
	
	font-weight:bold;
	color:#FFF;
	height:25px;
	line-height:25px;
	
	z-index:999;
	
	

	border-radius:0px 10px 10px 10px;
	text-align:center;
	
}
.infos_forfaits,.forfait_prix{
	font-family:'daxbold';
	font-size:13px;
	color:#FFF;
	margin-bottom:2px;
	padding-left:5px;
}

.forfait_prix{
	color:#2b2b2b;
	font-size:15px;
}
/***************************************/
.captcha_bloc{
	float:left;
	height:35px;
	
}

.left{
	float:left;
}

.input_captcha{
	float:left;
	margin-right:5px;
}

.border_input{
	border:1px solid #999;
}

.loading{
	/*background-color:#FC3;
	border:1px solid #C30;*/
	text-align:center;
	width:250px;
	/*padding:5px;*/
	display:none;
	margin-left:auto;
	margin-right:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#ff0000;
}

.bigSolde{
	font-family:'daxbold',Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-align:right;
	margin-right:10px;
	float:right;
	color:#FF0000;
}

.forfaits_stats{
	list-style-type:none;
	
}

.forfaits_stats li{
	margin:5px;
	font-family:'daxbold';
	font-size:12px;
}

.confirm_send{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-style:italic;
	color:#F00;
	display:none;
}

.form_connexion .loading{
	/*background-color:#F33;
	border:1px solid #963;
	padding:2px;*/
}

.load_forf{
	background:url(../img/loading.gif) left center no-repeat;
	padding-left:20px;
	line-height:16px;
	
}

.moov_contract{
	font-style:italic;
	font-size:11px;
	
	margin:0;
	padding:0;
	padding-left:5px;
	/*font-weight:bold;*/
	
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:5px;
}

.majuscules{
	text-transform:uppercase;
}

.redirection .error,.redirection .warning,.redirection .success,.redirection .info{
	
	border-radius:10px 0px 10px 0px;
	margin-bottom:10px;
	margin-top:30px;
}

.btn_redirection{
	background:url(../img/motif.png) no-repeat left center;
	background-color:#2b2b2b;
	/*padding:5px;*/
	padding-left:35px;
	padding-right:10px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	line-height:30px;
	height:30px;
	font-weight:bold;
	color:#FFF;
	border:none;
	border-radius:15px 15px 15px 0px;
	
	
	display:block;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	
}

.left{
	float:left;
}

.right{
	float:right;
}

.clear{
	clear:both;
}