
html{
	font-size:62.5%;
}

* {
box-sizing:border-box;
}
body{
	font-size:1.0em;
	height:100%;
}
@font-face {
    font-family: 'daxbold';
    src: url('daxbold/dax_bold-webfont.eot');
    src: url('daxbold/dax_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('daxbold/dax_bold-webfont.woff') format('woff'),
         url('daxbold/dax_bold-webfont.ttf') format('truetype'),
         url('daxbold/dax_bold-webfont.svg#daxbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandlight';
    src: url('quick/quicksand_light-webfont.eot');
    src: url('quick/quicksand_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('quick/quicksand_light-webfont.woff') format('woff'),
         url('quick/quicksand_light-webfont.ttf') format('truetype'),
         url('quick/quicksand_light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family:Verdana, Geneva, sans-serif;
	/*font-size:0.85em;*/
	margin:0;
	padding:0;
}

.moov_rounded_bloc,.container_moov{

	/*border-radius:0px 10px 0px 10px;*/
	background-color:#ffffff;
	/*height:100%;*/
	width:100%;
	overflow:auto;
	display:table;
	
	/*position:absolute;
	;*/
}
img{
	width:100%;
	max-width:100%;
	height:auto;
}
.conn_logo,.logo{
	width:20%;
	background-color:#b5dc10;
	margin-bottom:5px;
	
}
.grid_container{
	width: 95%;  
	 margin-left: auto;  
	  margin-right: auto;  
	   max-width: 1180px;
	   background-color:#0C6;
}


.clear{
	clear:both;
	visibility:hidden;
}
.grid-row {   
clear: both;   
float: left;   
width: 100%;
 background-color:#0F3;
}
.header{
	width:100%;
	background-color:#b5dc10;
	/*background:url(../img/barre_fond.gif) repeat-x;*/
	margin-bottom:2%;
	
}


.adaptimage{
	max-width:100%;
	width:100%;
}
.content_form{
	margin-top:40px;
}

.promo{
	padding-left:2px;
	font-size:1.6em;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:5px;
	overflow:hidden
}

.container_moov{
	/*width:920px;
	margin:5px auto;
	text-align:left;

	overflow:hidden;*/
	
}

.menu_operation{
	float:left;
	width:25%;
	margin-right:2%;
}

.menu_infos{
	float:left;
	width:73%;

}
.container_moov2{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	/*margin-top:0px;*/
/*	background-color:#0C9;*/
	display:table;
	height:100%;
}



/*.actions{
	list-style-type:none;
	margin:0;
	padding:0;
	
}*/

.actions3{
	margin:0;
	padding:0;
}
.actions3 li{
	
	margin:2px 5px;
	list-style-type:none;
	background-color:#b5dc10;
	
	border-radius:0px 5px 0 5px;

	
}

.actions3 li a{
	text-decoration:none;
	color:#000;
	display:block;
	padding:5px;
	font-family:'daxbold',Arial, Helvetica, sans-serif
}

.actions3 li a.underline{
	text-decoration:underline;
	background-color:#999;
	border-radius:0px 5px 0 5px;
}
/*.actions li{
	margin:5px 0px;

	width:auto;
}*/

/*.actions li a{
	text-decoration:none;
		font-family:Arial, Helvetica, sans-serif;
	font-size:1.1em;
	font-weight:bold;
	display:block;
	background-color:#b5dc10;
	padding-left:5px;
	color:#000;
	
	border-radius: 0px 10px 0px 5px;
	width:auto;
}*/

/*.actions li a.underline{
	
	background-color:#CCC;
	text-decoration:underline;
}*/

.actions li a:hover{
	background-color:#666;
}

.textarea{
	margin-left:10%;
	margin-right:10%;
	width:80%;
}
/*****************************************************/
.titleresumeCompte ,.titleresumeCompte3{
	font-family:'daxbold',Verdana,sans-serif;
	font-size:18px ; 
	padding-left:5px;
	/*background:url(../img/picto_contactez_moov.png) no-repeat left center;*/
/*	height:35px;*/
	margin-bottom:3px;
	/*line-height:35px;*/
	border-radius:5px 0 5px 0;
	background-color:#000;
	color:#FFF;
	text-align:left;
	-webkit-border-radius:5px 0 5px 0;
    -moz-border-radius:5px 0 5px 0;
	padding-top:2%;
	padding-bottom:2%;
	
	
}

/****************************************************/
.tooltipeffect{
	/*background:url(../img/corpo2.png) 5% top no-repeat;
	height:10px;
	position:relative;
	top:3px;*/
	
}

.tooltipeffect2{
	/*background:url(../img/corpo2.png) 5% top no-repeat;
	height:10px;
	position:relative;
	top:1px;*/
	
}
/**************************************/
.infos_cons{
	background-color:#fff;
	padding:10px;
	margin:0 0 3px 0px;
	border:1px solid #b5dc10;
	border-radius:5px 0 5px 0;
	overflow:hidden;
}

.low_padding{
	padding-bottom:2px;
}
.contentbloc3{
	float:left;
	width:49%;
}
.infos_cons2,.infos_cons_no_forfaits{
	background-color:#fff;
	padding:15px 5px 2px 5px;
	margin:0 0 3px 0px;
	border:1px solid #b5dc10;
	border-radius:5px 0 5px 0;
	overflow:hidden;
	
	/*background:url(../img/moov_flotte_decoration_16.png) bottom right no-repeat;*/
	
	
}

.infos_cons_no_forfaits{
	padding-bottom:5px;
	height:auto
}

.block{
	display:block;
}
.no_forfaits{
	height:60px;
	text-align:center;
}
.right{
	margin-right:2%;
}
.retract{
	padding:3px;
}
.contentBloc{
	
	
	background-color:#FFF;
	padding:2px;
}

.contentBloc2{
	

	padding:2px;
	margin:15px;
}


/********************************************************/
.gallery{
	float:left;
	width:60%;
	/*background-color:#0C9;*/
	height:100%;
	background-color:#0C3;
	/*background-color:#F00;*/
	

}

.bold{
	font-weight:bold;
}
.formtitle{
	/*height:8%;
	line-height:8%;*/
	font-family:'daxbold',Verdana,sans-serif;
	font-size:1.5em;
	margin:10px;
	padding:3%;
	background-color:#2b2b2b;
	border-radius: 0px 5px 0px 5px;
	color:#FFF;
}
.connexion_fields{
	/*position:absolute;
	z-index:9999;*/
	width:100%;

}

.left{
	float:left;
	margin-right:2px;
}
.form_connexion{
	float:left;
	width:40%;
	/*margin:0 5px;
	height:405px;*/
	background-color:#b5dc10;
	/*border:1px solid #b5dc10;*/
	border-radius:0px 10px 0px 10px;
	border:1px solid #999;
	position:relative;
	height:100%;
	margin-bottom:10px;
	
	
}
.conn_3g{
	/*position:absolute;
	z-index:99;*/
/*background-color:#33F;*/
	width:100%;
}


.inputcontent{

	margin:2px 0px;
	/*height:20px;*/
	overflow:hidden;

}

.inscription .inputcontent{
	margin:2px 0px;
	
}

.connexion_interface .inputcontent{
	margin:3px 0px;
	
}

.inscription .inputtext{
/*	height:15px;*/
	
}

.inscription .label{
	
	
}
.content_ins{
	/*position:absolute;
	bottom:5px;
	left:5px;*/
	margin-top:5%;
	
}
.inputcontent2{

	margin:5px 0px;
	/*height:20px;*/
	overflow:hidden;

}

.roundedSansImages{
	border-radius: 10px 20px 0 15px;
	-moz-border-radius: 10px 20px 0 15px;
    -webkit-border-radius: 10px  20px 0 15px;
  
    behavior: url(/PIE.htc);
}

.daxbold12{
	font-family:'daxbold',Verdana,sans-serif;
	font-size:12px;
}

.daxbold10{
	font-family:'daxbold',Verdana,sans-serif;
	font-size:10px;
}

.daxbold13{
	font-family:'daxbold',Verdana,sans-serif;
	font-size:1.3em;
}

.linkconn{
	text-decoration:none;
	margin-left:10px;
	color:#000;
	display:block;
	margin-top:10px;
	margin-bottom:10px;
}
.linkconn:hover{
	text-decoration:underline;
}
.label{
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;
	margin: 1px 10%;
	width:80%;
	/*font-weight:bold;*/
	
	/*width:130px;*/
	/*background-color:#0C0;*/
	/*text-transform:capitalize;*/
	display:block;
	line-height:18px;
	text-align:left;

	

}

.labeltrans{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	/*font-weight:bold;*/

	/*background-color:#0C0;*/
	/*text-transform:capitalize;*/
	display:block;
	line-height:25px;
	text-align:left;
	margin-left:10%;
	width:80%;
	margin-right:10%;

}

.labelfiltre{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	/*font-weight:bold;*/
	
	
	/*background-color:#0C0;*/
	/*text-transform:capitalize;*/
	display:block;
	line-height:25px;
	text-align:right;
	margin-right:5px;

}

/*************************************/
.labelBlock{
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	/*font-weight:bold;*/
	
	/*background-color:#0C0;*/
	/*text-transform:capitalize;*/
	display:block;
	margin-bottom:5px;
	text-align:left;
	margin-left:10px;
	
	

}
/*********************************/
.labelChange{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:#000000;
	/*background-color:#0C0;*/
	/*text-transform:capitalize;*/
	display: block;
	margin-bottom: 5px;
	text-align: left;
	margin-left: 15px;
	/*text-shadow: 0px 0px 2px #000;	*/

}

/***************************************/
.mid{
	width:90px;

}

.zipmid{
	width:100px;

}
.large{
	width:180px;
}

.smallinput{
	width:30px;
}
.inputtext{
	width:80%;
	border:1px solid #999;
	height:30px;
	text-align:left;
	margin:0 10%;
	border-radius:5px;
	
}


.inputtextins{
	width:170px;
	border:1px solid #999;
	height:15px;
	text-align:left;
	
}
.inputtextlarge{
	width:190px;
	border:1px solid #999;
	height:20px;
	text-align:left;
	
}


.inputtext_echange{
	width:250px;
	border:1px solid #CCC;
	height:25px;
}
.inputtext_conn{
	width:220px;
	border:1px solid #b5dc10;
	height:25px;
}

.inputtext_newpass{
	width:360px;
	border:1px solid #CCC;
	height:25px;
	margin-left:10px;
}
.inputselect{
	width:80%;
	border:1px solid #CCC;
	height:30px;
	margin-left:10%;
	margin-right:10%;
	border-radius:5px;
}

.inputselectsmall{
	width:100px;
	border:1px solid #CCC;
	height:25px;
}

.inputselectmid{
	width:120px;
	border:1px solid #CCC;
	height:25px;
}


.verdana13{
	font-family:Verdana, Geneva, sans-serif;
	font-size:1.3em;
}

.verdana11{
	font-family:Verdana, Geneva, sans-serif;
	font-size:1.1em;
}

.arial11{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

.arial13{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

.motif_connexion{
	position:absolute;
	bottom:0;
	right:0;
	width:20%;
	
}

.submit_spons:hover,.button_control:hover,.menusub:hover,.menusub2:hover,.btn_no_forfait:hover,.stop_forfait:hover{
	color:#b5dc10;
}


.submit_spons,.button_control,.menusub,.menusub2,.btn_no_forfait,.stop_forfait{
		/*background:url(../img/motif.png) no-repeat left center;*/
	background-color:#2b2b2b;
	/*padding:5px;*/
	font-family:Verdana, Geneva, sans-serif;
	font-size:1.0em;
	line-height:30px;
	height:30px;
	font-weight:bold;
	color:#FFF;
	border:none;
	border-radius:15px 15px 15px 0px;
	width:35%;
	display:block;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	padding-left:3%;
	padding-right:3%;
}

.btn_no_forfait,.stop_forfait{
	width:50%;
	float:right;
	margin-bottom:2px;
}


.form_connexion .success,.form_connexion .error{
	margin-left:5px;
	margin-right:5px;
}
.motif_inscription .error{
	margin:3px 5px;
	padding:15px 10px 15px 50px;

}
.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:5px;
background-repeat: no-repeat;

font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
}

.info{
color:#00529B;
background-color:#BDE5F8;
background-image:url(../img/info.png);
}

.success {
color: #4F8A10;
background-color: #DFF2BF;
/*background-image:url(../img/sucess.png);*/
}

.warning {
color: #9F6000;
background-color: #FEEFB3;
/*background-image:url(../img/warning.png);*/
}
.error {
color: #D8000C;
background-color: #FFBABA;
/*background-image:url(../img/error.png);*/
}

.bloc_login{
	height:25px;
	/*background-color:#093;*/
}

.deconnexion_link{
	float:right;
	display:block;
	text-decoration:none;
	margin-right:10px;

	color:#F00;
}

.deconnexion_link:hover{
	text-decoration:underline;
}
.log_infos{
	float:left;
	margin:0px 2px;
	
	
}
.menu_redirection2{
	display:none;
}
.center_login{
}

a img{
	border:0;
}
.no_forfaits{
	text-align:center;
	font-weight:bold;
}

.hide{
	display:none;
}

#conso_bar{
	margin:15px 0px 2px 0px;
	position:relative;
}
.labelbar .min{
	float:left;
}

.labelbar .max{
	float:right;
}
.labelbar{
	overflow:hidden;
}

 .progress-label {
	 position:absolute;
margin-left: 50%;
margin-top: 2px;
font-weight: bold;
text-shadow: 1px 1px 0 #fff;
}
/*****************************************/
#liste_forfaits{
	margin-top:10px;
	width:100%;
}

#liste_forfaits .forfaits{
	float:left;
	margin:10px 2%;
}
.forfaits{
	background-color:#b5dc10;
	border-radius:0 10px 0 10px;
	width:46%;
	height:135px;
	position:relative;
	padding-top:20px;
	
}

.forfait_decor{
	position:absolute;
	bottom:0;
	right:0;
	width:35px;
}

.forfait_nom{
	background-color:#2b2b2b;
	position:absolute;
	top:-5px;
	right:10px;
	font-size:11px;
	padding:10px ;
	font-family:'daxbold',Verdana,sans-serif;
	color:#ffffff;
	text-align:center;
}
.forfait_buy:hover,.offer_forfaits_buy:hover{
	color:#b5dc10;
}
.forfait_buy,.offer_forfaits_buy{
	text-decoration:none;
	display:block;
	background:url(../img/forfaits/achat_decoration.png) left center no-repeat;
	background-color:#2b2b2b;
	font-family:'daxbold',Verdana,sans-serif;
	width:85px;
	position:absolute;
	left:10px;
	bottom:-5px;
	font-size:11px;
	/*padding:10px 0px 10px 25px;*/
	
	font-weight:bold;
	color:#FFF;
	height:25px;
	line-height:25px;
	
	z-index:999;
	
	

	border-radius:0px 10px 10px 10px;
	text-align:center;
	
}
.infos_forfaits,.forfait_prix{
	font-family:'daxbold';
	font-size:11px;
	color:#000;
	margin-bottom:2px;
	padding-left:5px;
}

.forfait_prix{
	color:#2b2b2b;
	font-size:13px;
}
/***************************************/
.captcha_bloc{
	float:left;
	margin-left:5%;
	width:40%;
	
}

.responsive_captcha{
	width:15%;
}

.left{
	float:left;
}

.input_captcha{
	float:left;
	width:20%;
	margin-left:10%;
}

.refresh_captcha{

	margin-left:0%;
	margin-right:25%;
	text-align:right;
	
	
}

.input_captcha input[type=text]{
	width:100%;
	height:35px;
}

.border_input{
	border:1px solid #999;
}

.loading{
	/*background-color:#FC3;
	border:1px solid #C30;*/
	text-align:center;
	width:100%;
	/*padding:5px;*/
	display:none;
	margin-left:auto;
	margin-right:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#ff0000;
}

.bigSolde{
	font-family:'daxbold',Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-align:right;
	margin-right:10px;
	
	color:#FF0000;
}

.forfaits_stats{
	list-style-type:none;
	
}

.forfaits_stats li{
	margin:5px;
	font-family:'daxbold';
	font-size:12px;
}

.confirm_send{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-style:italic;
	color:#F00;
	display:none;
}

.form_connexion .loading{
	/*background-color:#F33;
	border:1px solid #963;
	padding:2px;*/
}

.load_forf{
	background:url(../img/loading.gif) left center no-repeat;
	padding-left:20px;
	line-height:16px;
	
}

.moov_contract{
	font-style:italic;
	font-size:11px;
	
	margin:0;
	padding:0;
	padding-left:5px;
	/*font-weight:bold;*/
	
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:5px;
}

.majuscules{
	text-transform:uppercase;
}

.redirection .error,.redirection .warning,.redirection .success,.redirection .info{
	
	border-radius:10px 0px 10px 0px;
	margin-bottom:10px;
	margin-top:30px;
	padding-top:10px;
	padding-bottom:10px;
}

.btn_redirection{
	/*background:url(../img/motif.png) no-repeat left center;*/
	background-color:#2b2b2b;
	/*padding:5px;*/
	padding-left:10px;
	padding-right:10px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	line-height:30px;
	height:30px;
	font-weight:bold;
	color:#FFF;
	border:none;
	border-radius:15px 15px 15px 0px;
	
	
	display:block;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	
}

.left{
	float:left;
}

.right{
	float:right;
}


/************orientation portrait*************/
@media screen and (orientation:portrait){
	
	
	.gallery{
	float:none;
	display:block;
	width:100%;
	height:auto;
	display:none;
	
}

.titleresumeCompte{
	font-size:1.3em;
}
	
.form_connexion{
	width:100%;
	float:none;
	
}
/**************************************/
.menu_operation{
		float:none;
		overflow:hidden;
		width:100%;
		/*background-color:#FF0;*/
	}
	

	.menu_infos{
		float:none;
		width:100%;
	}

/****************************************/
}

/********large screen****************/
@media screen and (min-width:1025px){
	
	.confirm_send{
	font-size:1.1em;
}
	.bigSolde{
		font-size:1.3em;
	}
	
	
	.captcha_bloc{
		width:20%;
	}
	/*********************************/
	.titleresumeCompte{
		font-size:1.4em;
		margin-top:10px;
		margin-bottom:10px;
	}
	.info, .success, .warning, .error, .validation {
		font-size:1.1em;
	}
	
	.forfait_buy, .offer_forfaits_buy {
		font-size:1.2em;
		
	}
	.forfait_nom{
		font-size:1.1em;
	}
	
	.infos_forfaits{
		font-size:1.2em;
	}
	.forfait_prix{
		font-size:1.4em;
	}
	
	

	#liste_forfaits .forfaits {
    float: left;
    margin: 10px 2%;
}
.forfaits {
  
    width: 29%;
}
	
	
	
.loading{
	font-size:1.2em;
}
	
	
	/**********************************/
.actions3 li a{
		font-size:1.1em;
		
	}
	
.btn_no_forfait,.stop_forfait{
	width:70%;
	font-size:1.1em;
}

.arial13{
	font-size:1.2em;
}

.arial11{
	font-size:1.2em;
}

.verdana11{
	font-size:1.2em;
}
.verdana13{
	font-size:1.2em;
}
/*.gallery{
	float:none;
	display:block;
	width:100%;
	height:auto;
	display:none;
	
}
	
.form_connexion{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	float:none;
	
}*/

.formtitle{
	font-size:1.4em;
	margin-top:3%;
}

.daxbold13{
	font-size:1.3em;
	
}

.submit_spons{
	font-size:1.1em;
}

.logo,.conn_logo{
	width:10%;
}

.refresh_captcha{
	font-size:1.0em;
	margin-right:45%;
}

}


@media screen and (min-width:640px) and (orientation:portrait) {
	
	.form_connexion{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	float:none;
	
}
	
}
/***********small screen************/
@media screen and (max-width:640px){
	
	.menu_redirection2{
		display:block;
	}
	
	.menu_redirection{
		display:none;
	}
	.refresh_captcha a{
		font-size:0.95em;
	}
	.btn_redirection{
		font-size:0.80em;
	}
	
	.confirm_send{
	font-size:0.95em;
}
	.bigSolde{
		font-size:1.3em;
	}
	
	.menu_infos{
		width:100%;
		
	}
	
	.loading{
	font-size:0.85em;
}
	
	.gallery{
	float:none;
	display:block;
	width:100%;
	height:auto;
	display:none;
	
}
	
.actions3 li{
		float:none;
	}
	
	.actions3 li a{
		font-size:0.85em;
		
	}
.form_connexion{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	float:none;
	
}

	
	.formtitle{
		font-size:0.95em;
	}
	.titleresumeCompte{
		font-size:0.85em;
	}
	.info, .success, .warning, .error, .validation {
		font-size:0.95em;
	}
	
	.submit_spons{
		width:70%;
		font-size:0.80em;
		
	}
	.contentbloc3{
		float:none;
		width:100%;
		margin-bottom:10px;
	}
	
	.forfait_decor{
		width:10%;
	}
	
	.arial11,.daxbold12{
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.95em;
}
#liste_forfaits .forfaits {
    float: left;
    margin: 10px 0%;
}
.forfaits {
  width: 100%;
}

.infos_forfaits{
	font-size:1.2em;
}

.forfait_prix{
	font-size:1.4em;
}

.arial13{
	font-size:0.95em;
}

.verdana13{
	font-size:0.95em;
}

.daxbold13{
	font-size:0.95em;
	
}

.verdana11{
	font-size:0.95em;
}

.menu_operation{
	float:none;
	width:100%;
}
}

/*****medium screen***************/

@media screen and (min-width:641px) and (max-width:1024px){
	.menu_operation{
	float:none;
	width:100%;
}

.btn_redirection{
		font-size:0.95em;
	}
	
	.menu_infos{
		width:100%;
		
	}

	
	.bigSolde{
		font-size:1.2em;
	}
	.loading{
	font-size:1.2em;
}
	.arial11,.daxbold12{
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.1em;
}
	.info, .success, .warning, .error, .validation {
		font-size:1.2em;
	}
	.submit_spons{
		font-size:1.2em;
	}
	
	.actions3 li{
		float:left;
		margin-left:5px;
		margin-right:5px;
	}
	
	.actions3 li a{
		font-size:1.1em;
	}
	.btn_no_forfait,.stop_forfait{
	width:70%;
	
	font-size:1.2em;
}

.arial13{
	font-size:1.2em;
}

.arial11{
	font-size:1.2em;
}

.verdana11{
	font-size:1.1em;
}
.verdana13{
	font-size:1.1em;
}

.titleresumeCompte{
	font-size:1.2em;
}

#liste_forfaits .forfaits {
    float: left;
    margin: 10px 2%;
}
.forfaits {
  width: 46%;
}

.infos_forfaits{
	font-size:1.2em;
}

.forfait_prix{
	font-size:1.4em;
}
.confirm_send{
	font-size:1.0em;
}

.daxbold13{
	font-size:1.2em;
}

.refresh_captcha{
	margin-left:0;
	margin-right:25%;
}
.refresh_captcha a{
	font-size:1.2em;
}

.gallery{
	float:none;
	display:block;
	width:100%;
	height:auto;
	display:none;
	
}
	
.form_connexion{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	float:none;
	
}
}

@media screen and (min-width:481px) and (max-width:640px){
		#liste_forfaits .forfaits {
    float: left;
    margin: 10px 2%;
}
.forfaits {
  
    width: 46%;
}
}

@media screen and (min-width:1000px) and (max-width:1024px) {
	
	.submit_spons{
		font-size:1.2em;
	}
		#liste_forfaits .forfaits {
    float: left;
    margin: 10px 2%;
}
.forfaits {
  
    width: 29%;
}

.captcha_bloc{
	width:30%;
}

.refresh_captcha{
	margin-right:35%;
}

.daxbold13{
	font-size:1.3em;
}

.verdana11{
	font-size:1.3em;
}
}



@media screen and (max-width:640px) and (orientation:landscape){
	
	.captcha_bloc{
		width:30%;
	
	}
	
	.refresh_captcha{
		margin-right:35%;
	}
	
	.submit_spons{
		font-size:0.95em;
	}
}