@charset "utf-8";
/* CSS Document */

.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
	font-family:Arial, Helvetica, sans-serif;
	
	/*position:absolute;*/
	
	
	
}

.LV_valid {
    color:#00CC00;
	/*background:url(../images/coche-ok.png) no-repeat;
	padding-left:25px;*/
	display:inline;
	
}
	
.LV_invalid {
    color:#CC0000;
	/*background:url(../images/coche-croix.png)  no-repeat;*/
	/*padding-left:25px;*/
	font-size:11px;
    display:block;
	margin-left:70px;
	font-family: Arial, Helvetica, sans-serif;
	
	
	
}
    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}