<h1 class="titleresumeCompte">Taux de consommation restante  du forfait </h1>

  <!--<div class="tooltipeffect"></div> -->
<div class="contentBloc">
  <div id="conso_bar">
    <div class="progress-label">{CONSO_RATIO} %</div>
  </div>
  <div class="labelbar arial13" >
  <div class="min arial11">0Mo</div>
  <div class="max arial11">{MAX_VOLUME} Mo</div>
</div>
</div>
   <h1 class="titleresumeCompte"> Infos forfaits</h1>

  <!--<div class="tooltipeffect"></div> -->
<div class="contentBloc">

</div>

<!--  <p class="arial13">solde disponible sur le compte:<strong>5.000 FCFA</strong></p>
 -->
 <div class="contentbloc3 right">
 <div class="tooltipeffect2"></div>
  <div class="infos_cons2 verdana11 ">Forfait actif : <strong>{FORFAIT_ACTIF}</strong><br />
     <br />
     Expire le : <strong>{date_expiration}</strong><br /><br />
     Volume Total : <strong>{volume_total}</strong><br /><br />
     Volume Consommé : <strong>{volume_consomme} Mo</strong><br /><br />
      Volume Disponible : <strong>{volume_dispo} Mo</strong><br /><br />
      <a href="{GL_STOP_FORFAIT}" class="stop_forfait">Stopper ce forfait</a>
   </div>
 </div>  <!--fin du 1er bloc -->

 <div class="contentbloc3">
 <div class="tooltipeffect2"></div>
  <div class="infos_cons2 verdana11 ">
  <!--Forfait actif: <strong>Forfait Jour</strong><br />
     <br />
     Expire le: <strong>13/07/2012 à 12:45:23</strong><br /><br /> -->
     Equipement : <strong>{device}</strong><br /><br />
     Nom : <strong>{user_nom}</strong><br /><br />
     Prénoms : <strong>{user_prenoms}</strong><br /><br />
     Dernier forfait souscrit : <strong>{LAST_FORFAIT}</strong><br /><br />
      Date de souscription : <strong>{DATE_LAST_SOUSCRIPTION}</strong><br /><br />
     Derniere connexion : <strong>{DATE_LAST_CONNEXION}</strong><br /><br />

      <br /><br />
            <a href="{GL_FORFAITS}" class="btn_no_forfait">Acheter un forfait</a>


   </div>
 </div>


  </div> <!--fin de menu infos -->
  <hr class="clear" />
</div> <!--fin de container moov2 -->
</body>
</html>
