<h1 class="titleresumeCompte">Forfait Actif</h1>
  <div class="tooltipeffect"></div>
<div class="contentBloc">

  <div class="arial13 infos_cons low_padding">
  <div class="bigSolde">Solde : {SOLDE} FCFA</div>
<div  >
    <div >Forfait actif : <strong>{forfait_actif}</strong>
      
      <br/><br/>
       Equipement : <strong>{device}</strong><br /><br />
      {date_forfait}

   
    </div>
  <a href="{GL_STOP_FORFAIT}" class="stop_forfait {flag_stop_forfait}">Stopper ce forfait</a>
  </div>
  </div>
</div>


  <!--<div class="tooltipeffect"></div> -->

   <h1 class="titleresumeCompte"> Forfaits disponibles</h1>
   <div id="liste_forfaits">
   <!-- BEGIN offres -->
     <div class="forfaits">
     <div class="forfait_nom">{offres.nom}</div>
     <a href="#" class="forfait_buy" ref="{offres.id}">Acheter</a>
<div class="forfait_decor"><img src="img/forfaits/ait_decoration.png" width="53" height="86" /></div>
<p class="infos_forfaits">Validité : {offres.duree} jour(s)</p>
<p class="infos_forfaits">Volume Max : {offres.volume}</p>
<p class="forfait_prix">Prix : {offres.prix} FCFA</p>
     </div>
       <!-- END offres -->








   </div> <!--fin d eliste forfaits -->
   <!--<div class="tooltipeffect"></div> -->


<!--  <p class="arial13">solde disponible sur le compte:<strong>5.000 FCFA</strong></p>
 --><!--fin du 1er bloc -->




  </div> <!--fin de menu infos -->
</div> <!--fin de container moov2 -->
</body>
</html>
