 <h1 class="titleresumeCompte"> Infos forfaits</h1>

  <!--<div class="tooltipeffect"></div>
<div class="contentBloc">
  <p class="arial13 infos_cons bold" style="text-align:center;">Vous n' avez aucun forfait actif sur votre compte</p>
</div> -->

<!--  <p class="arial13">solde disponible sur le compte:<strong>5.000 FCFA</strong></p>
 -->
 <div class="contentbloc3 right">
 <div class="tooltipeffect2"></div>
  <div class="infos_cons_no_forfaits verdana11 "><strong>Aucun forfait actif sur votre compte</strong><br />
     <br />


     Volume Disponible: <strong>0 Mo</strong>
     <br />
     <br />
    
     <a href="{GL_FORFAITS}" class="btn_no_forfait">Acheter un forfait</a>
   <!--  Volume Consommé: <strong>18.36 Mo</strong><br /><br />  -->
   </div>
 </div>  <!--fin du 1er bloc -->

 <div class="contentbloc3">
 <div class="tooltipeffect2"></div>
  <div class="infos_cons_no_forfaits verdana11 ">
  <!--Forfait actif: <strong>Forfait Jour</strong><br />
     <br />
     Expire le: <strong>13/07/2012 à 12:45:23</strong><br /><br /> -->
     Equipement : <strong>{device}</strong><br /><br />
       Nom : <strong>{user_nom}</strong><br /><br />
     Prénoms : <strong>{user_prenoms}</strong><br /><br />
     Dernier forfait Souscrit : <strong>{LAST_FORFAIT}</strong><br /><br />
     Date de souscription : <strong>{DATE_LAST_SOUSCRIPTION}</strong><br /><br />
     Derniere connexion : <strong>{DATE_LAST_CONNEXION}</strong><br /><br />
   <!-- <a href="{GL_FORFAITS}" class="btn_no_forfait">Acheter un forfait</a> -->
   </div>
 </div>


  </div> <!--fin de menu infos -->
  <hr class="clear" />
</div> <!--fin de container moov2 -->
</body>
</html>
