{HEADER}
<div class="container_moov2">
 <!--<div class="loading"> Chargement des données...</div> -->
  {LOGIN}
  <div class="menu_operation">

  {MENU}
  </div>

<div class="menu_infos">

<div class="{ERROR_TYPE}">{ERROR_MESSAGE}</div>
<h1 class="titleresumeCompte">Forfait Actif</h1>
  <div class="tooltipeffect"></div>
<div class="contentBloc">

  <div class="arial13 infos_cons low_padding">
  <div class="bigSolde">Solde : {SOLDE} FCFA</div>
<div  >
    <div >
    Equipement: <strong>{device}</strong><br /><br />
    Forfait actif : <strong>{forfait_actif}</strong>
      <br/><br/>
      {date_forfait}


    </div>
  <a href="{GL_STOP_FORFAIT}" class="stop_forfait {flag_stop_forfait}">Stopper Ce forfait</a>
  </div>
  </div>
</div>

<!--fin de forfait actif -->



  <h1 class="titleresumeCompte"> Selectionner le destinataire et l' equipement</h1>

   <div class="tooltipeffect"></div>
   <div class="contentBloc">
  <div class="infos_cons low_padding">
   <div class="confirm_send"></div>
    <form id="form1" name="form1" method="post" action="?ctrl=operations&action=send_forfait">
      <div class="inputcontent ">
        <label for="code_recharge" class="verdana11 labeltrans">Selectionnez l' équipement:</label>
        <select name="equipement" class="inputselect" id="equipement">
        <option value="-1">Selectionnez...</option>
          <option value="SMARTPHONE">Smartphones</option>
          <option value="CLE">Clé Internet</option>
          <option value="TABLETTE">Tablette </option>
          <option value="BOX">Box Wifi</option>
          </select>
      <span class="arial11 load_forf hide">Chargement des forfaits en cours...</span>

        </div>
      <div class="inputcontent ">
        <label for="code_recharge" class="verdana11 labeltrans">Numéro du bénéficaire:</label>
        <input type="text" name="dest_numero" id="dest_numero" class="inputtext large" />
        </div>
          <div class="inputcontent hide conf_send" >
        <label for="code_recharge" class="verdana11 labeltrans">Entrez votre mot de passe:</label>
        <input type="password" name="password_ab" id="password_ab" class="inputtext large" />
        </div>
        <input name="nom_forfait" id="nom_forfait" type="hidden" value="" />
        <input name="ref" type="hidden" id="ref_forfait" value="" />
         <div class="inputcontent hide conf_send">
    <input name="" type="submit"  class="submit_spons" style="margin-left:auto;margin-right:auto;margin-top:15px;" value="Envoyer"/>
    </div>
    </form>
  </div>
</div>

<!--on charges les forfaits
 -->

   <h1 class="titleresumeCompte"> Selectionnez le forfait à transférer</h1>
   <div id="liste_forfaits">
     <!-- BEGIN offres -->
     <div class="forfaits">
     <div class="forfait_nom">{offres.nom}</div>
     <a href="#" class="offer_forfaits_buy" ref="{offres.id}">offrir</a>
<div class="forfait_decor"><img src="img/forfaits/ait_decoration.png" width="53" height="86" /></div>
<p class="infos_forfaits">Validité : {offres.duree} jour(s)</p>
<p class="infos_forfaits">Volume Max : {offres.volume}</p>
<p class="forfait_prix">Prix : {offres.prix} FCFA</p>
     </div>
       <!-- END offres -->








   </div> <!--fin d eliste forfaits -->


  </div>
</div>
</body>
</html>
