{HEADER}
<div class="container_moov2">
<!--<div class="loading"></div> -->
  {LOGIN}
  <div class="menu_operation">

  {MENU}
  </div>

<div class="menu_infos">
  <h1 class="titleresumeCompte"> Recharger mon compte</h1>
   <div class="{ERROR_TYPE}">{ERROR_MESSAGE}</div>
   <div class="tooltipeffect"></div>
  <div class="contentBloc">
    <div class="infos_cons_no_forfaits">
     <form id="form1" name="form1" method="post" action="?ctrl=operations&action=charge_compte_processing">
      <div class="inputcontent ">
        <label for="code_recharge" class="verdana11 label">Tapez les 14ou 16 chiffres figurant sur la carte de recharge puis validez:</label>
        <input type="text" name="code_recharge" id="code_recharge" class="inputtext" />
        </div>
        <br />
         <br />

        <div class="inputcontent">
    <input name="" type="submit"  class="submit_spons" style="margin-left:auto;margin-right:auto;margin-top:10px;" value="Envoyer"/>
    </div>
      </form>
    </div>
  </div>
  </div>
</div>
</body>
</html>
