{HEADER}
<div class="container_moov2 redirection">

  <div class="{ERROR_TYPE}">{ERROR_MESSAGE}</div>
<div class="menu_redirection {FLAG_SHOW_MENU_REDIRECTION}">
<table border="0" cellspacing="5" align="center">
  <tr>
    <td><a href="{GL_PAYG}?num={msisdn}" class="btn_redirection ">Continuer la navigation via le solde mobile</a>
</td>
    <td><a href="{GL_CONNEXION}" class="btn_redirection">Acheter un nouveau forfait</a>
</td>
  </tr>
</table>

</div>

<div class="menu_redirection2 {FLAG_SHOW_MENU_REDIRECTION}">
<table border="0" cellspacing="5" align="center" class="{FLAG_SHOW_MENU_REDIRECTION}">
  <tr>
    <td><a href="{GL_PAYG}?num={msisdn}" class="btn_redirection ">Continuer la navigation via le solde mobile</a>
</td>
</tr>
<tr>
    <td><a href="{GL_CONNEXION}" class="btn_redirection">Acheter un nouveau forfait</a>
</td>
  </tr>
</table>

</div>
</div>
</body>
</html>