{HEADER}
<div class="container_moov2">

{LOGIN}
  <div class="menu_operation">

  {MENU}
  </div>
  <div class="menu_infos">
  <div class="{ERROR_TYPE}">{ERROR_MESSAGE}</div>
  <h1 class="titleresumeCompte"> Mon solde</h1>
  <div class="tooltipeffect"></div>
<div class="contentBloc">
  <p class="arial13 infos_cons">Solde disponible sur le compte : <strong>{SOLDE} FCFA</strong></p>
</div>
{FORFAITS}