<div class="bloc_login">
<a href="{GL_DECONNEXION}" class="deconnexion_link arial13 bold">-|Se déconnecter</a>
<p class="log_infos daxbold12">Connecté en tant que {log_fullname} +225{log_num}</p>
 <div class="loading">Chargement en cours...</div>
</div>