<ul class="actions">
  <li><a href="{GL_DASHBOARD}" class="{menu_underline_compte}">Mon compte</a></li>
  <li><a href="{GL_RECHARGE}"  class="{menu_underline_recharge}">Recharger mon compte</a></li>
    <li><a href="{GL_FORFAITS}"  class="{menu_underline_forfait}">Choisir un forfait</a></li>

    <li><a href="{GL_SEND_FORFAIT}"  class="{menu_underline_send}">Offrir un forfait à un tiers</a></li>
    <li><a href="{GL_CHANGE_PASS}"  class="{menu_underline_infos}">Informations personnelles</a></li>
     <li><a href="{GL_CONTACT}"  class="{menu_underline_contact}">Nous contacter</a></li>
     <!--  <li><a href="#">Historique de consommation</a></li> -->
  </ul>