{HEADER}
<div class="container_moov">

  <div class="gallery">
  <table width="100%" border="0" height="100%">
  <tr>
    <td valign="middle" align="center"><img src="img/banner_mobile.jpg" ></td>
  </tr>
</table>

  </div>
  <div class="form_connexion">
 <!--<h1 class="formtitle">Vous n' avez pas encore de compte?</h1>
 <a href="{GL_INSCRIPTION}" class="daxbold13 linkconn">- Cliquez ici pour vous créer un compte</a>-->
  <h1 class="formtitle">Connectez-vous</h1>
    <div class="loading"></div>
  <div class="{ERROR_TYPE}">{ERROR_MESSAGE}</div>
<!--<div class="motif_connexion"><img src="img/motif5.gif" width="150"  /></div>-->
<!-- <div class="content_ins">
  <a href="{GL_INSCRIPTION}" class="daxbold13 linkconn">- Obtenir un mot de passe</a>
    <a href="{GL_FORGETPASS}" class="daxbold13 linkconn">- Mot de passe Oublié?</a>
    <a href="#" class="daxbold13 linkconn">- Aide </a>
  </div>-->
<div class="connexion_fields connexion_interface">
  <form action="?ctrl=inscription&action=connexion_processing" method="post" class="conn_3g">
  
    <div class="inputcontent">
      <label for="numero_ab" class="label verdana11">Numéro : </label>
      <input type="text" name="numero_ab" id="numero_ab_conn"  class="inputtext"/>

      </div>

    <div class="inputcontent">
      <label for="numero_ab" class="label verdana11">Mot de passe : </label>
      <input type="password" name="password_ab" id="password_ab"  class="inputtext"/>

      </div>
  <div class="inputcontent">
    <label for="numero_ab" class="label verdana11">Code de validation : </label>
      <div class="input_captcha"> 
      <input type="text" name="captcha_code"   />
      </div>
      
        <div class="captcha_bloc"> 
      <img id="captcha" src="lib/securimage/securimage_show.php" alt="CAPTCHA Image" />
      
      </div>
     
     </div>
       <div class="refresh_captcha">
     <a href="#" onClick="document.getElementById('captcha').src = 'lib/securimage/securimage_show.php?' + Math.random(); return false">Actualiser </a>
     </div>


    <div class="inputcontent" style="margin-top:10px;">


      <input name="" type="submit" class="submit_spons" value="Se connecter"  style="margin-left:auto;margin-right:auto;margin-top:5%;"/>
      </div>
      
     <div class="content_ins">
  <a href="{GL_INSCRIPTION}" class="daxbold13 linkconn">- Obtenir un mot de passe</a>
    <a href="{GL_FORGETPASS}" class="daxbold13 linkconn">- Mot de passe Oublié?</a>
    <a href="#" class="daxbold13 linkconn">- Aide </a>
  </div>
  </form>

</div>
  </div>
  <!--fin de form connexion -->

</div>
</body>
</html>