{HEADER}
<div class="container_moov">

  <div class="gallery">
   <table width="100%" border="0" height="100%">
  <tr>
    <td valign="middle" align="center"><img src="img/banner_mobile.jpg" ></td>
  </tr>
</table>
  </div>
  <div class="form_connexion motif_inscription">
 
  <h1 class="formtitle">Créer un compte</h1>
   <div class="loading"></div>
 
<!--<div class="motif_connexion"><img src="img/motif6.gif" width="150"  /></div>-->
<div class="{ERROR_TYPE}">{ERROR_MESSAGE}</div>
<div class="connexion_fields inscription">

  <form action="?ctrl=inscription&action=inscription_processing" method="post" class="conn_3g ins_3g">
     <div class="inputcontent">
      <label for="nom_ab" class="label verdana11">Equipement : </label>
       <select name="equipement" class="inputselect">
         <option value="0">Smartphones</option>
         <option value="1">Clé internet</option>
         <option value="2">Tablette </option>
         <option value="3">Box Wifi</option>
       </select>

      </div>
    <div class="inputcontent">
      <label for="numero_ab" class="label verdana11">Numéro equipement : </label>
      <input type="text" name="numero_ab" id="numero_ab"  class="inputtext"  />

      </div>
       <div class="inputcontent">
      <label for="numero2_ab" class="label verdana11">Numéro mobile : </label>
      <input type="text" name="numero2_ab" id="numero2_ab"  class="inputtext"  />

      </div>
      
       <div class="inputcontent">
      <label for="nom_ab" class="label verdana11">Nom : </label>
      <input type="text" name="nom_ab" id="nom_ab"  class="inputtext majuscules" />

      </div>
       <div class="inputcontent">
      <label for="nom_ab" class="label verdana11">Prénoms : </label>
      <input type="text" name="prenom_ab" id="prenom_ab"  class="inputtext majuscules" />

      </div>

    <div class="inputcontent">
      <label for="nom_ab" class="label verdana11">Email : </label>
      <input type="text" name="email_ab" id="email_ab"  class="inputtext" />

      </div>
    <div class="inputcontent">
    <label for="numero_ab" class="label verdana11">Code de validation : </label>
      <div class="input_captcha"> 
      <input type="text" name="captcha_code"   />
      </div>
      
        <div class="captcha_bloc"> 
      <img id="captcha" src="lib/securimage/securimage_show.php" alt="CAPTCHA Image" />
      
      </div>
     
     </div>
       <div class="refresh_captcha">
     <a href="#" onClick="document.getElementById('captcha').src = 'lib/securimage/securimage_show.php?' + Math.random(); return false">Actualiser </a>
     </div>


  <!--<div class="inputcontent">
  <p class="moov_contract">Vous recevrez par email des informations sur nos produits.</p>
</div>-->
   
    <div class="inputcontent">


      <input type="submit" class="submit_spons ins_launch" value="Valider"  style="margin-left:auto;margin-right:auto;margin-top:10%;"/>
      </div>
       <div class="content_ins"><a href="{GL_CONNEXION}" class="daxbold13 linkconn">- Se connecter à son compte</a>

  </div>
  </form>
  
</div>
  </div>
  <!--fin de form connexion -->

</div>
</body>
</html>
