{HEADER}
<div class="container_moov2">
<!--<div class="loading"></div> -->
  {LOGIN}
  <div class="menu_operation">

  {MENU}
  </div>

<div class="menu_infos">
   <div class="{ERROR_TYPE}">{ERROR_MESSAGE}</div>
    <!--  modifier email -->
 <h1 class="titleresumeCompte"> Nous contacter</h1>

   <div class="tooltipeffect"></div>
  <div class="contentBloc">
    <div class="infos_cons">
     <form id="form1" name="form1" method="post" action="?ctrl=operations&action=sendMessageToMoov">
      <div class="inputcontent {hide_old_email} ">
        <label for="code_recharge" class="verdana11 labeltrans">Nom :</label>
        <input type="text" name="nom" id="nom" class="inputtext large"  value="{user_nom}"/>
        </div>
         <div class="inputcontent ">
        <label for="code_recharge" class="verdana11 labeltrans">Prénom :</label>
        <input type="text" name="prenom" id="prenom" class="inputtext large"  value="{user_prenoms}"/>
        </div>

           <div class="inputcontent ">
        <label for="code_recharge" class="verdana11 labeltrans">Email :</label>
        <input type="text" name="email" id="email" class="inputtext large" value="{user_email}" />
        </div>

         <div class="inputcontent ">
        <label for="code_recharge" class="verdana11 labeltrans">Sujet :</label>
        <input type="text" name="sujet" id="sujet" class="inputtext large" />
        </div>

          <div class="inputcontent ">
        <label for="code_recharge" class="verdana11 labeltrans">message :</label>
      <textarea name="message" cols="35" rows="7" id="message"></textarea>
        </div>
        <div class="inputcontent">
    <input name="" type="submit"  class="submit_spons" style="margin-left:220px;" value="Envoyer"/>
    </div>
      </form>
    </div>
  </div>



  </div> <!--fin de menu infos -->


</div> <!--fin de container moov -->
</body>
</html>
