{HEADER}
<div class="container_moov2">
<!--<div class="loading"></div> -->
{LOGIN}
  <div class="menu_operation">

  {MENU}
  </div>
  <div class="menu_infos">
  <div class="{ERROR_TYPE}">{ERROR_MESSAGE}</div>

{OFFRES}